
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<div class="lock-word animated fadeInDown">
    <span class="first-word">Success</span><span>SCREEN</span>
</div>
<div class="middle-box text-center lockscreen animated fadeInDown">
    <div>
        <div class="m-b-md">
            <img alt="image" class="rounded-circle circle-border" src="~/Content/images/success.jpg">
        </div>
        <h3>Oluwasanmi Dimeji</h3>
        <p>Your message has been sent. You should continue using bricks ERP while your request is been process.</p>
        <form class="m-t" role="form" action="index.html">
            @*<div class="form-group">
                <input type="password" class="form-control" placeholder="******" required="">
            </div>*@
            <button type="submit" class="btn btn-primary block full-width">Return</button>
        </form>
    </div>
</div>

