@using WorkFlow.DAL.Data;
@{
    var workflow = (bpm_workflow)ViewBag.workflow;
    }


<div class="form-group">
    <h1>Transaction Completed</h1>
    <p>Click submit to close the process</p>
</div>


