@{ 
    var form_view_data = (Dictionary<string, string>)ViewBag.form_view_data;

    //var value = form_view_data["1"];
    }
<div class="form-group">
    @*@MvcHtmlString.Create(form_view_data["1"])*@
    

</div>


<div class="form-group">
    <label>Select Action</label>
    <select name="approval" class="form-control">
        <option value="approved">Approve</option>
        <option>Reject</option>
        <option>Dismiss</option>
    </select>
</div>

<div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" name="comment"></textarea>
</div>