
<div class="form-group">
  
    

</div>



<div class="form-group">
    <label>Select Officer</label>
    <select class="form-control" name="emp_number">
        <option value="25">Efuntoye Oluwaseyi</option>
        <option value="24">Susan Uzoka</option>
        <option value="4230">Tobe Uzoabaka</option>
        <option value="4239">Kassam Jonathan</option>
        <option value="58">Oluwashola Balogun</option>
        <option value="4232">Garba Fauziya</option>
        <option value="61">Ifeatu Ajaegbo</option>
    </select>

    <input type="hidden" name="wf_assignment" value="emp" />
</div>
