@using WorkFlow.DAL.Data
@using System.Xml.Linq;
@using WorkFlow.DAL;
@{
    ViewBag.Title = "Tr_Purpose";
    var workflow = (bpm_workflow)ViewBag.workflow;
    var form = XElement.Parse(workflow.workflow).Element("form");
    var doc = XElement.Parse(workflow.workflow);
}
<div class="form-group">
    <div class="input-group">
        <input type="text" placeholder="approval token" class="input form-control" name="approval_token">
        <span class="input-group-btn">
            <button type="button" class="btn btn btn-primary" onclick="generate_approval_token()"> <i class="fa fa-refresh"></i> Refresh</button>
        </span>
    </div>
</div>

<div class="form-group">
    <label>Purpose of Reimbursement</label>
    <textarea name="purpose_of_reimbursement" readonly class="form-control">@form.Element("purpose_of_reimbursement").Value</textarea>
</div>
<div class="form-group">
    <label>Select Action</label>
    <select name="approval" class="form-control" onchange="toggleRejection(this)">
        <option value="approved">Approve</option>
        <option value="rejected">Reject</option>
        <option value="dismissed">Dismiss</option>
    </select>
</div>
<div class="form-group" id="rejection_step">
    <label>Select a step to return to <span style="color:red">ONLY USE THIS OPTION IF YOUR ARE REJECTING A TRANSACTION</span></label>
    <input type="number" max="@doc.Element("next_step").Value" min="1" name="fall_back" value="1" />
</div>
<div class="form-group">
    <label>Additional Comments</label>
    <textarea class="form-control" name="comment"></textarea>
</div>








