
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_BricksLayout.cshtml";
}

<div class="k2t-body">
    <div class="k2t-title-bar">
        <div>
            <div class="container k2t-wrap">
                <h1 class="main-title k2t-cf7-title" style="font-size:36px;color:#283c5a;">
                    Contact Us
                </h1>
                <div class="k2t-cf7-excerpt main-excerpt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                </div>
                <!-- .main-excerpt -->
            </div>
        </div>
    </div>
    <!-- .k2t-title-bar -->
    <div class="k2t-content no-sidebar">
        <div class="container k2t-wrap">
            <!-- Main -->
            <main class="k2t-main page">
                <article id="post-11" class="post-11 page type-page status-publish hentry">
                    <div class="page-entry">
                        <div class="k2t-contact-page" id="contact-page">
                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_gmaps_widget wpb_content_element">
                                            <h2 class="wpb_heading wpb_map_heading k2t-cf7-hotel">Hotel Branches</h2>
                                            <div class="wpb_wrapper">
                                                <div class="wpb_map_wraper">
                                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6304.829986131271!2d-122.4746968033092!3d37.80374752160443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808586e6302615a1%3A0x86bd130251757c00!2sStorey+Ave%2C+San+Francisco%2C+CA+94129!5e0!3m2!1sen!2sus!4v1435826432051"
                                                            style="border:0" allowfullscreen="" height="150" width="520"></iframe>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p id="k2t-contact-info">Contact Info</p>
                                                <p class="k2t-addr">PO Box CT16122 Collins Street West, Victoria 8007, Country.</p>
                                                <p class="k2t-cf7-phone">
                                                    <i class="zmdi zmdi-phone"></i> &nbsp; +1 (2) 345 6789
                                                </p>
                                                <p class="k2t-cf7-print">
                                                    <i class="zmdi zmdi-print"></i> &nbsp; +1 (2) 345 6789
                                                </p>
                                                <p class="k2t-cf7-email">
                                                    <i class="zmdi zmdi-email"></i> &nbsp; contact@yourdomain.com
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="wpb_wrapper">
                                        <div role="form" class="wpcf7" id="wpcf7-f4-p11-o1" dir="ltr" lang="en-US">
                                            <div class="screen-reader-response"></div>
                                            <form method="post" class="wpcf7-form" novalidate="novalidate">
                                                <p class="k2t-title-form"> Leave a Message</p>
                                                <p>
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                               aria-required="true" aria-invalid="false" placeholder="Email" type="email">
                                                    </span>
                                                    <span class="wpcf7-form-control-wrap your-name">
                                                        <input name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                                                               aria-invalid="false" placeholder="Name" type="text">
                                                    </span>
                                                </p>
                                                <p>
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <textarea class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" placeholder="Message"></textarea>
                                                    </span>
                                                </p>
                                                <p>
                                                    <input value="Send Message" class="wpcf7-form-control wpcf7-submit" type="submit">
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .page-entry -->
                </article>
                <!-- #post-## -->
                <div class="clear"></div>
            </main>
        </div>
    </div>
    <!-- .k2t-content -->
</div>